@charset "UTF-8";
:root {
  --main-font: "Pretendard", sans-serif;
  --sub-font: "Alice", serif;
  --point-font: "Cora W01 Regular";
  
  --main-color: #312926;
  --sub-color: #BFB1A4;
}

body {font-family: "Pretendard"; font-size: 1.6rem; line-height: 1.5;}
#wrap {overflow-x: hidden;}
.inner {max-width: 1450px; margin: 0 auto; padding: 0 10px;}

#header .inner {display: flex; justify-content: space-between; align-items: center; padding: 20px 0; max-width: 1740px; }
#header .inner h1 a img {width: 228px;}
#header .inner .gnb {display: flex;}
#header .inner .gnb li a {font-size: 2rem; font-weight: 700; margin: 0 25px;}
#header .inner .gnb li:hover a {color: #8D8881;}

#header .btn button {background: transparent; padding-left: 40px;}
#header .btn button:nth-child(1) {padding-left: 0;}

/* company */
.company {margin-bottom: 39px;}
.company .inner {margin: 0; font-size: 1.4rem; font-weight: 700;}
.company ul {display: flex; width: 100%; gap: 44px;}
.company ul li {display: grid; grid-template-columns: 1fr; text-align: center; margin: 10px; align-items: end;}
.company ul li img { object-fit: cover; justify-content: center; align-items: start; text-align: center;}
.company ul li:nth-child(1) img{width: 109px; height: 31px; margin: 50px;}
.company ul li:nth-child(2) img{width: 100px; margin: 47px 31px;}
.company ul li:nth-child(3) img{width: 70px; margin: 45px 46px;}
.company ul li:nth-child(4) img{width: 50px; margin: 47px 49px;}
.company ul li:nth-child(5) img{width: 70px; margin: 61px 45px;}
.company ul li:nth-child(6) img{width: 70px; margin: 51px 49px;}
.company ul li:nth-child(7) img{width: 50px; margin: 55px 65px;}
.company ul li:nth-child(8) img{width: 54px;  margin: 52px 53px;}

/* footer */
#footer {background: var(--main-color); color: #fff; padding: 35px 0 76px;}
#footer p {font-size: 1.6rem; font-weight: 700;}
#footer .inner .footer_top {display: flex; justify-content: space-between; text-align: end; padding-bottom: 31px;}
#footer .inner .footer_top img {width: 417px;}
#footer .inner .footer_right .right_flex {display: flex; gap: 13px; padding-top: 10px;}

#footer .inner .footer_bottom {display: flex; justify-content: space-between; padding-bottom: 27px; border-bottom: solid 1px #fff;}

#footer .inner .footer_bottom .sns {align-items: center;}
#footer .inner .footer_bottom .sns a {padding-right: 20px;}

#footer .inner .footer_bottom .link {display: flex; gap: 10px;}
#footer .inner .footer_bottom .link p {padding: 10px;}

#footer .copy {padding-top: 36px;}



