@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

@font-face {
    font-family: 'Arita-dotum';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://db.onlinewebfonts.com/c/19a2ae2f1d6ae8455ea4b986d681b945?family=Cora+W01+Regular');

@font-face {
    font-family: "Cora W01 Regular";
    src: url("https://db.onlinewebfonts.com/t/19a2ae2f1d6ae8455ea4b986d681b945.eot");
    src: url("https://db.onlinewebfonts.com/t/19a2ae2f1d6ae8455ea4b986d681b945.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/19a2ae2f1d6ae8455ea4b986d681b945.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/19a2ae2f1d6ae8455ea4b986d681b945.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/19a2ae2f1d6ae8455ea4b986d681b945.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/19a2ae2f1d6ae8455ea4b986d681b945.svg#Cora W01 Regular")format("svg");
}

