@charset "UTF-8";
:root {
  --main-font: "Pretendard", sans-serif;
  --sub-font: "Alice", serif;
}

body {font-family: "Pretendard"; font-size: 1.6rem; line-height: 1.5;}
#wrap {overflow-x: hidden;}
.inner {max-width: 1540px; margin: 0 auto; padding: 0 20px;}

#header .inner {display: flex; justify-content: space-between; align-items: center; padding: 40px 0 20px;}
#header .gnb {display: flex; position: relative;}
#header .gnb > li > a { display: block; padding: 10px 31px; font-size: 2rem; font-weight: 700;}

#header .gnb > li:hover > a {color: #E50112; }

#header .util button:first-child {font-size: 2rem; color: #E50112; font-weight: 700; margin-right: 20px; background: transparent;}
#header .util button:nth-child(2) {border-radius: 25px; font-weight: 700; background: #C3C3C3;}
#header .util button:nth-child(2) p {color: #fff; opacity: 0.7; }
#header .util button .inner {padding: 10px 37px; gap: 35px;}

#header .gnb li {position: relative;}
#header .gnb li .depth2 {position: absolute; z-index: 10; background: #fff; text-align: start; transform: translate(-50%,0); left: 50%; top: 100%; width: 180px; font-size: 1.6rem; font-weight: 600; padding: 20px 12px; border-top: 1px solid #E50112;  display: none; justify-content: space-between;}
#header .gnb .depth2 li {padding-bottom: 5px; display: block;}
#header .depth2 li a {padding: 0 20px 4px;}
#header .depth2 li:hover a {color: #E50112;}
#header .depth2 li:last-child {padding-bottom: 0;}
#header .gnb li:hover .depth2 {display: block;}

#header .btn_ham {display: none; background: transparent; cursor: pointer;}

@media (max-width: 1024px) {
  #header .inner {margin: 0 100px;}
  #header .btn_ham {display : block;}
  #header .gnb {display: none;}
  #header .util {display: none;}
}

@media (max-width: 440px) {
  #header .inner {margin: 0 40px;}
}


/* footer */
#footer {background: #474747; color: #fff; font-size: 1.3rem; padding: 55px 0 45px;}
#footer .footer_logo {padding-bottom: 28px;}
#footer span {font-weight: 700; color: #fff; }
#footer .address {display: grid;  margin-bottom: 50px; font-size: 1.3rem;}
#footer .address p {padding: 0 10px 7px 0;}
#footer .address .footer_t {display: flex;}
#footer .address .footer_b {display: flex;}

#footer .footer_smallt {position: relative;}
#footer .footer_link {position: absolute; display: flex; justify-content: right; font-size: 1.6rem; font-weight: 700; text-align: right; gap: 67px; top: 0; right: 0; }
#footer .footer_link p {display: inline-block;}

#footer .footer_smallb {display: flex; justify-content: space-between; margin-bottom: 30px;}
#footer .footer_sns {display: block;}
#footer .footer_sns a img {display: inline-block; margin-right: 20px; height: 35px;}
#footer .footer_cs {text-align: right;}
#footer .footer_cs a {font-size: 2rem; font-weight: 700; padding-left: 30px;}
#footer .copy {font-weight: 700; border-top: 1px solid #7d7d7d; padding: 18px 0;}

@media (max-width: 1200px) {
  #footer .footer_link {gap: 30px;}
}

@media (max-width: 1024px) {
  #footer {padding: 55px 50px 45px;}
  #footer .address .footer_t {display: grid;}
  #footer .footer_sns a img {display: inline-block; margin-right: 20px; height: 20px;}
}

@media (max-width: 440px) {
  #footer {padding: 20px 20px;}
  #footer .inner {position: relative;}
  #footer .address {font-size: 1.3rem; display: grid; gap: 2px;}
  #footer .footer_logo {padding-bottom: 14px;}
  #footer .footer_logo h1 a img {width: 92px; height: 20px;}
  #footer .footer_txt {display: grid; grid-template-columns: 1fr; justify-content: space-between;}
  #footer .address p {padding: 0;}

  #footer .footer_smallb {margin-bottom: 7px;}
  #footer .address .footer_b {display: grid; gap: 2px;}
  #footer .footer_link {position: absolute; font-size: 1rem; gap: 5px; top: -15%; transform: translate(0,-100%); }
  #footer .footer_sns {display: inline-block;}
  #footer .footer_sns a img {margin-right: 10px; height: 20px;}
  #footer .footer_cs a {padding-left: 10px; font-size: 1.2rem;}
}

